body{
    background-color: rgb(252, 199, 208);
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 230px;
}
h1{
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-shadow: 5px 7px #ce6868;
}